<section class="w-full h-125 sm:h-105 overflow-hidden bg-cover bg-center relative"
  style="background-image: url('/images/hero/hero.png') ">

  <div class="absolute inset-0 bg-linear-to-b from-black/40 to-transparent"></div>

  <div class="relative z-20 h-full flex flex-col items-center justify-center pt-16 text-white text-center px-4">

      <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-2 drop-shadow-lg"> Find Your Dream Home</h2>

      <p class="mb-6 text-sm sm:text-base">Search homes for sale, rent or investment</p>

      <div class="flex items-center w-[92%] max-w-lg mx-auto bg-white/90 backdrop-blur-md rounded-2xl overflow-hidden shadow-lg  mt-2">

          <input type="text" placeholder="Location" class="flex-1 h-14 px-3 sm:px-4  sm:h-14 rounded-lg text-black outline-none border-none min-w-0"/>

          <div class="w-px h-8 bg-gray-200"></div>

          <select class="h-12 sm:w-32 md:w-40 px-2 text-black outline-none bg-transparent border-none w-24">
            <option disabled selected>Price</option>
          </select>

          <div class="w-px h-8 bg-gray-200"></div>

          <select class="w-24 sm:w-28 md:w-32 sm:px-4 h-12 px-4 text-black outline-none bg-transparent border-none">
            <option disabled selected>Beds</option>
          </select>

          <div>
            <button class="h-14 min-w-24 px-5 bg-amber-500 text-white 
            font-semibold hover:bg-amber-600 transition">Search</button>
          </div>

      </div>
  </div>
  <div class="absolute bottom-0 left-0 w-full h-20 bg-linear-to-t from-white to-transparent"></div>
</section>
